.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 980px;
  padding: 0 80px 80px;
  overflow: hidden;
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  gap: 20px;
  font-size: 16px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    flex-wrap: wrap;
    white-space: initial;
  }
}

.logo {
  width: 80px;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
  gap: 20px;
}

@media (max-width: 991px) {
  .navigation {
    white-space: initial;
  }
}

.nav-link {
  font-family: Inter, sans-serif;
  align-self: stretch;
  margin: auto 0;
}

.contact-button {
  font-family: Inter, sans-serif;
  justify-content: center;
  align-self: stretch;
  padding: 8px 16px;
  color: #fff;
  background-color: #000;
}

@media (max-width: 991px) {
  .contact-button {
    white-space: initial;
  }
}

.subtitle {
  position: relative;
  margin-top: 278px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 991px) {
  .subtitle {
    max-width: 100%;
    margin-top: 40px;
  }
}

.title {
  position: relative;
  margin-top: 12px;
  font: 700 64px/120px Inter, sans-serif;
  text-align: center;
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
    font-size: 40px;
    line-height: 83px;
  }
}

.description {
  position: relative;
  width: 632px;
  margin-top: 12px;
  font-family: Inter, sans-serif;
  line-height: 30px;
  text-align: center;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}

.highlight {
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.scroll-icon {
  width: 36px;
  margin-top: 255px;
  aspect-ratio: 1.64;
  object-fit: contain;
  object-position: center;
  border: none;
  position: relative;
  top: 0;
  transition: top 0.5s ease-in-out;
}

@media (max-width: 991px) {
  .scroll-icon {
    margin-top: 40px;
  }
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 73px;
}

@media (max-width: 991px) {
  .project-section {
    padding: 0 20px;
  }
}

.project-container {
  margin-top: 80px;
}

@media (max-width: 991px) {
  .project-container {
    margin-top: 40px;
  }
}

.project-row {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .project-row {
    flex-direction: column;
    gap: 0;
  }
}

.project-image-column {
  width: 50%;
}

@media (max-width: 991px) {
  .project-image-column {
    width: 100%;
  }
}

.project-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 991px) {
  .project-image {
    margin-top: 40px;
  }
}

.project-details-column {
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .project-details-column {
    width: 100%;
    margin-left: 0;
  }
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 80px 5px;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .project-details {
    margin-top: 40px;
  }
}

.project-title {
  color: #4f4f4f;
  margin-top: 12px;
  font: 600 30px/40px Inter, sans-serif;
}

.project-description {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 24px;
  font: 400 20px/32px Inter, sans-serif;
}

.project-link {
  color: #686868;
  letter-spacing: 0.5px;
  margin-top: 24px;
  font: 700 18px/167% Karla, sans-serif;
}

.project-placeholder {
  background-color: #d9d9d9;
  width: 100%;
  max-width: 482px;
  height: 482px;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .project-placeholder {
    margin-top: 40px;
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #ececec;
  width: 100%;
  font-size: 24px;
  color: #000;
  font-weight: 400;
  line-height: 133%;
  padding: 64px 80px;
}

@media (max-width: 991px) {
  .contact-content {
    max-width: 100%;
    padding: 0 20px;
  }
}

.contact-title {
  font: 48px Inter, sans-serif;
}

@media (max-width: 991px) {
  .contact-title {
    max-width: 100%;
    font-size: 40px;
  }
}

.contact-description {
  font-family: Inter, sans-serif;
  line-height: 36px;
  margin-top: 24px;
  width: 733px;
}

@media (max-width: 991px) {
  .contact-description {
    max-width: 100%;
  }
}

.contact-email {
  font-family: Inter, sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 24px;
}

@media (max-width: 991px) {
  .contact-email {
    max-width: 100%;
  }
}

.footer {
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  padding: 0 7px 25px;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
  }
}

.footer-divider {
  background-color: #ececec;
  height: 1px;
}

@media (max-width: 991px) {
  .footer-divider {
    max-width: 100%;
  }
}

.footer-content {
  display: flex;
  align-self: center;
  margin-top: 22px;
  width: 100%;
  max-width: 1287px;
  gap: 20px;
  justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .footer-content {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.footer-name {
  color: #000;
  font-family: Inter, sans-serif;
  font-weight: 700;
}

.footer-copyright {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 160%;
}

.footer-image {
  aspect-ratio: 5.56;
  object-fit: auto;
  object-position: center;
  width: 176px;
  max-width: 100%;
}